.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select-box {
  width: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.select-box label {
  font-size: 24px;
}

#sourceLanguage,
#targetLanguage {
  height: 2rem;
  font-size: 16px;
  padding: 0px 10px;
}

.input-val {
  width: 12rem;
  height: 2rem;
  padding: 0px 10px;
  margin-bottom: 1rem;
  font-size: 16px;
}